.sexopequeno {
    display: flex;
    justify-content:space-evenly;
    height: 300px;
    width: 200px;
    background-color: var(--cr-cor2);
    align-items: center;
    margin-top: 100px;
    margin-right: 50px;
    border-radius: var(--borderradious-1);
    
}

.sexogrande {
    display: flex;
    justify-content:space-evenly;
    height: 300px;
    width: 500px;
    background-color: var(--cr-cor2);
    align-items: center;
    margin-top: 100px;
    margin-right: 50px;
    border-radius: var(--borderradious-1);
}


.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
}

.sexogrande:hover {
    transform: scale(1.1);

}

.sexopequeno:hover {
    transform: scale(1.1);

}

.imagemsexualpeq {
    width: 150px;
    filter:blur(3px);
    animation: unblur .4s ease-out forwards;
}

.sexopequeno:hover .imagemsexualpeq {
    animation: blur .4s ease-out forwards;
}



@keyframes blur {
    0% {
        filter:blur(3px)
    }
    100% {
        filter:blur(0px)
    }
  }

  @keyframes unblur {
    0% {
        filter:blur(0px)
    }
    100% {
        filter:blur(3px)
    }
  }
